/* ===========================================================

	Title:	common.css
	Last Created:	2016-01-06

=========================================================== */
/*

	body
	header
	global-navigation
	contens
	footer

=========================================================== */

/* ===========================================================
==============================================================
	Bace Tag set
==============================================================
=========================================================== */¥


html, body {
	height: 100%;
	position: relative;
	/* font-size: 62.5%; */
}
body {
	font-size: 16px;
	line-height: 1;
	background-color: #fff;
	font-family: 'Noto Sans JP', 'Noto Sans', "游ゴシック", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
	color: #3F494B;
	text-rendering : optimizeSpeed;
	/* -webkit-font-smoothing: subpixel-antialiased; - */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-align: justify;
	font-feature-settings : "palt";
	overflow: hidden;
}

body {
  -webkit-text-size-adjust: 100%;
}
body.en {
	text-align: left;
}
a {
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	color: #3F494B;
	transition: all 0.5s;
}
a:link,  a:visited {
	color: #3F494B;
}
a:hover {
	color: #24B1C7;
}
@media screen and (max-width:768px) {
	a:hover {
		color: #3F494B;
	}
}
sup, sub {
	font-size: 0.78em;
	line-height: 100%;
	font-style: inherit;
	font-weight: inherit;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: baseline;
}
small {
	font-size: 0.78em;
}
.red {
	color: #C00;
}
.white {
	color: #FFF;
}
.pngfix {
}
.blank {
}
.blank_simple {
}
.blank_pdf {
}
.blank_word {
}
.blank img,  .blank_simple img,  .blankPdf img {
	vertical-align: baseline;
}
/* ===========================================================
	clear-box set
=========================================================== */


#header, #footer,
#globalmenu, #footer_nav,
div,
nav,
section,  .fix-box {
	display: block;
	zoom: 100%;
}
/* #header:after, #footer:after,
#globalmenu:after, #footer_nav:after,
div:after,
nav:after,
section:after,
.fix-box:after {
	display: block;
	clear: both;
	content: " ";
} */
/* ===========================================================

	#wrapper

=========================================================== */
#wrapper {
	display: block;
	padding: 0 0 0 270px;
	margin: 0;
	min-height: 100vh;
	position: relative;
	min-width: 1024px;
}

#wrapper:before {
	display: block;
	margin: 0;
	padding: 0;
	width: 1px;
	height: 100%;
	background-color: #dcdcdc;
	z-index: 1200;
	position: absolute;
	top: 0;
	left: 270px;
	content: "";
}
/* ===========================================================

	header

=========================================================== */
#header {
	display: block;
	margin: 0 0 0 -270px;
	padding: 0;
	background-color: #fff;
	width: 270px;
	height: 100%;
	float: left;
	z-index: 1000;
	text-align: center;/*position: fixed; top: 0; left: 0;*/
	position: relative;
}
#header .header-wrapper {
	display: block;
	margin: 0;
	padding: 0;
}
#main_logo {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1em;
	height: 260px;
	border-bottom: solid 1px #dcdcdc;
}
#main_logo a {
	display: block;
	margin: 0;
	padding: 0;
}
#header dl {
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #dcdcdc;
}
#header dl dt {
	display: block;
	margin: 0;
	padding: 0;
}
#header dl dd {
	display: none;
	margin: 0;
	padding: 0;
	background-color: #131327;
}
#header dl.selected dd ul {
	background-color: #0b0b16;
}
#header dl.selected dd {
	display: block;
}
#header dl dt a {
	display: block;
	margin: 0;
	padding: 1.5em 0;
	color: #3F494B;
}
#header dl dt a:hover {
	color: #fff;
	background-color: #131327;
}
#header dl dt a.selected,  #header dl dt a.selected:hover {
	color: #fff;
	background-color: #131327;
	pointer-events: none;
}
#header dl dd ul {
	display: block;
	margin: 0;
	padding: 5px 0 0 0;
	font-size: 1.0em;
	border-top: dotted 1px #dcdcdc;/*font-size: 0.875em;*/
}
#header dl.selected dd ul {
	border-top: none;
}
#header dl dd ul {
	display: block;
	zoom: 100%;
}
#header dl dd ul:after {
	display: block;
	clear: both;
	content: " ";
}
#header dl dd ul li {
	display: block;
	margin: 0;
	padding: 0 5px 5px 5px;
}
#header dl dd ul li a {
	display: block;
	margin: 0;
	padding: 1.0em 0;
	color: #fff;
	border-radius: 2px;
}
#header dl dd ul li a:hover {
	color: #131327;
	background-color: rgba(255,255,255,0.95);
}
#header dl dd ul li a.current-link,  #header dl dd ul li a.current-link:hover {
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	pointer-events: none;
}
#header .lang {
	display: block;
	margin: 0;
	padding: 30px 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
#header .lang a {
	display: block;
	margin: 0;
	padding: 1.5em 0;
	color: #fff;
	background-color: #131327;
}
#header .lang a:hover {
	background-color: #3078c0;
}
/* ===========================================================

	main

=========================================================== */

#main_wrap {
	display: block;
	padding: 104px 0 0 0;
	margin: 0;
	background-color: #fff;
	float: left;
	width: 100%;
	/* min-width: 1350px; */
}
#main {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1.8;
	position: relative;
	clear: both;
	background-color: #F1F3F7;
	padding-bottom: 1px;
}
#main img {
	vertical-align: bottom;
	max-width: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}
#main h1 {
	display: block;
	padding: 40px 30px;
	margin: 0;
	/* background-color: #131327; */
	color: #fff;
	font-size: 1.875em;
	line-height: 1.2;
	clear: both;

	text-align: left;
}
#main .breadcrumb {
	display: block;
	padding: 20px 0;
	margin: 0;
	font-size: 0.857em;
	line-height: 1.2;
	background-color: #fff;
	/* border-bottom: solid 1px #dcdcdc; */
	font-weight: 700;
}
#main .breadcrumb ol {
	display: block;
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#main .breadcrumb ol li {
	display: inline-block;
	padding: 0;
	margin: 0 0;
	font-weight: 500;
}
#main .breadcrumb ol li a:after {
	display: inline-block;
	padding: 0;
	margin: 0 1em;
	content: "\f105";
	color: #000;
	font-family: FontAwesome;
}

#main .breadcrumb ol li a {
	text-decoration: none;
}
#contents {
	display: block;
	/* padding: 40px 30px; */
	padding: 40px 64px 64px;
	margin: 0 auto;
	clear: both;
	max-width: 1280px;
	width: 100%;
	font-size: 1.0em;
	background-color: #fff;
	margin: 3em auto;
}
#contents h2 {
	display: block;
	padding: 1em 0;
	margin: 2em 0 1em 0;
	font-size: 1.4em;
	color: #344462;
	font-weight: 700;
	position: relative;
}
#news #contents h2:before{
	top: -1px;
}
#contents h2:before {
	display: block;
	padding: 0;
	margin: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 12%;
	border-top: solid 3px #24B1C7;
	z-index: 2;
}
#contents h2:after {
	display: block;
	padding: 0;
	margin: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: solid 2px #F1F3F7;
	z-index: 1;
}
#contents h3 {
	display: block;
	padding: 10px 0 0 0;
	margin: 1.8em 0 1.0em 0;
	font-size: 1.2em;
	color: #131327;
	font-weight: 700;
	position: relative;
}
#contents h4 {
	display: block;
	padding: 10px;
	margin: 1em 0 0.5em 0;
	font-size: 1.0em;
	background-color: #f2f5f8;
	color: #a90109;
	font-weight: normal;
}
#contents h5 {
	display: block;
	padding: 0;
	margin: 1em 0 0.5em 0;
	font-size: 1.0em;
	color: #333;
	font-weight: normal;
}
#contents p {
	padding: 0;
	margin: 1em 0;
}
#contents a.btn_map {
	display: inline-block;
	padding: 0 1em;
	margin: 0 0 0 1em;
	background-color: #24B1C7;
	color: #fff;
}
#contents a.btn_map:hover {
	/* background-color: #3078c0; */
	opacity: .7;
}
#contents a.btn_map:before {
	display: inline-block;
	padding: 0;
	margin: 0 0.5em 0 0;
	content: "\f041";
	font-family: FontAwesome;
}
@media screen and (max-width: 1200px) {
	#contents {
		padding: 40px 30px;
	}
	#main_wrap{
		padding: 66px 0 0 0;
	}
}
@media screen and (max-width: 820px) {
	
	#main .breadcrumb{
		display: block;
		padding: 5px 30px;

	}
	#main .breadcrumb ol {
		flex-direction: row;
		justify-content:flex-start;
	}
	#main .breadcrumb ol li{
		padding: 3px 0;
		margin: 0;
	}

	#contents h2{
		display: block;
		padding: 1em 0 0.5em 0;
		margin: 2em 0 0 0;
		font-size: 1.4em;
		line-height: 1.4em;
	}
	#contents h3 {
		font-size: 1.1em;
	}
	#contents a.btn_map {
		margin: 0;
	}
	#contents h2.en-layout{
		display: block;
		padding: 0;
		margin-bottom: 0 !important;
		font-size: 1.3em;
		line-height: 1.3em;
	}
}
/* ---------------------------------------------------------------------------------
	para-note
--------------------------------------------------------------------------------- */
#contents .para-note {
	width: auto;
	/* padding: 0 5px 0 0; */
	font-weight: normal;
	vertical-align: top;
	border: none;
	/* text-align: center; */
	white-space: nowrap;
	display: block;
  padding: 1em 0;
  margin: -6em 0 1em 0;
  font-size: 0.7em;
  /* color: #344462; */
  /* font-weight: 700; */
  position: relative;
}
/* ---------------------------------------------------------------------------------
	list
--------------------------------------------------------------------------------- */

#contents ul,
#contents ol {
	font-size: 1em;
	margin: 1.0em 0;
	text-indent: 0;
}
#contents ul > li,
#contents ol > li {
	margin: 0.5em 0;
	list-style-position: outside;
}
#contents ul.list-no-margin,
#contents ol.list-no-margin {
	margin: 0;
}
#contents ul.list-no-margin > li:first-child,
#contents ol.list-no-margin > li:first-child {
	margin: 0 0 0.5em 0;
}
#contents ul.no-margin > li:last-child,
#contents ol.no-margin > li:last-child {
	margin: 0.5em 0 0 0;
}
#contents ul.list-circle > li {
	list-style-type: circle;
}
#contents ul.list-disc > li {
	list-style-type: disc;
}
#contents ul.list-square > li {
	list-style-type: square;
}
#contents ol.list-decimal > li {
	list-style-type: decimal;
}
#contents ol.list-decimal-zero > li {
	list-style-type: decimal-leading-zero;
}
#contents ol.list-lower-roman > li {
	list-style-type: lower-roman;
}
#contents ol.list-lower-alpha > li {
	list-style-type: lower-alpha;
}
#contents ol.list-upper-alpha > li {
	list-style-type: upper-alpha;
}
#contents ol.list-cjk-ideographic > li {
	list-style-type: cjk-ideographic;
}
#contents ol.list-hiragana > li {
	list-style-type: hiragana;
}
#contents ol.list-hiragana-iroha li {
	list-style-type: hiragana-iroha;
}
#contents ol.list-katakana > li {
	list-style-type: katakana;
}
#contents ol.list-katakana-iroha > li {
	list-style-type: katakana-iroha;
}
#contents ul.list-circle,
#contents ul.list-disc,
#contents ul.list-square,
#contents ol.list-decimal,
#contents ol.list-decimal-zero,
#contents ol.list-lower-roman,
#contents ol.list-lower-alpha,
#contents ol.list-upper-alpha,
#contents ol.list-cjk-ideographic,
#contents ol.list-hiragana,
#contents ol.list-hiragana-iroha,
#contents ol.list-katakana,
#contents ol.list-katakana-iroha,
#contents ol.list-text-1 {
	margin: 1em 0 1em 2.5em;
}
#contents ul.list-no-margin.list-circle,
#contents ul.list-no-margin.list-disc,
#contents ul.list-no-margin.list-square,
#contents ol.list-no-margin.list-decimal,
#contents ol.list-no-margin.list-decimal-zero,
#contents ol.list-no-margin.list-lower-roman,
#contents ol.list-no-margin.list-lower-alpha,
#contents ol.list-no-margin.list-upper-alpha,
#contents ol.list-no-margin.list-cjk-ideographic,
#contents ol.list-no-margin.list-hiragana,
#contents ol.list-no-margin.list-hiragana-iroha,
#contents ol.list-no-margin.list-katakana,
#contents ol.list-no-margin.list-katakana-iroha,
#contents ol.list-no-margin.list-text-1 {
	margin: 0 0 0 2.5em;
}
#contents ol.list-text-1 {
	text-indent: -2.5em;
}
#contents ol.list-text-1 > li > span {
	display: inline-block;
	width: 2.0em;
	margin: 0 0.5em 0 0;
	text-indent: 0;
}
#contents ol.list-num {
	margin: 1em 0 1em 2.5em;
}
#contents ol.list-num > li {
	list-style-type: none;
	list-style-position: inside;
	counter-increment: cnt;
	text-indent: -2.5em;
}
#contents ol.list-num > li:before {
	display: inline-block;
	width: 2.5em;
	text-indent: 0;
	content: "(" counter(cnt) ") ";
}
@media screen and (max-width: 768px) {
	#contents ul.list-circle,
	#contents ul.list-disc,
	#contents ul.list-square,
	#contents ol.list-decimal,
	#contents ol.list-decimal-zero,
	#contents ol.list-lower-roman,
	#contents ol.list-lower-alpha,
	#contents ol.list-upper-alpha,
	#contents ol.list-cjk-ideographic,
	#contents ol.list-hiragana,
	#contents ol.list-hiragana-iroha,
	#contents ol.list-katakana,
	#contents ol.list-katakana-iroha,
	#contents ol.list-text-1 {
		margin: 1em 0 1em 1.5em;
	}
	#contents ul.list-no-margin.list-circle,
	#contents ul.list-no-margin.list-disc,
	#contents ul.list-no-margin.list-square,
	#contents ol.list-no-margin.list-decimal,
	#contents ol.list-no-margin.list-decimal-zero,
	#contents ol.list-no-margin.list-lower-roman,
	#contents ol.list-no-margin.list-lower-alpha,
	#contents ol.list-no-margin.list-upper-alpha,
	#contents ol.list-no-margin.list-cjk-ideographic,
	#contents ol.list-no-margin.list-hiragana,
	#contents ol.list-no-margin.list-hiragana-iroha,
	#contents ol.list-no-margin.list-katakana,
	#contents ol.list-no-margin.list-katakana-iroha,
	#contents ol.list-no-margin.list-text-1 {
		margin: 0 0 0 1.5em;
	}
}
.employee-well-being-wrap .blue-list-dot li{
	margin: 0 !important;
}
.blue-list-dot li{
	position: relative;
	padding-left: 20px;
}
.blue-list-dot li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #24B1C7;
}
/* ---------------------------------------------------------------------------------
	text-align set
--------------------------------------------------------------------------------- */
.tex-aln-c {
	text-align: center !important;
}
.tex-aln-r {
	text-align: right !important;
}
.tex-aln-l {
	text-align: left !important;
}
#contents table.cap {
	margin: 1em 0 1em 0;
	font-size: 0.786em;
	width: auto;
	border: none;
}
#contents table.cap th,  #contents table.cap td {
	border: none;
	background-color: transparent;
}
#contents table.cap th {
	width: auto;
	color: #666;
	padding: 0 5px 0 0;
	font-weight: normal;
	vertical-align: top;
	border: none;
	text-align: center;
	white-space: nowrap;
}
#contents table.cap td {
	padding: 0;
	color: #666;
	vertical-align: top;
	border: none;
}
#contents table {
	padding: 0;
	margin: 1em 0;
	width: 100%;
	border-top: solid 1px #ddd;
}
#contents table caption {
	margin: 0;
	padding: 0 0 0.5em 0;
	width: 100%;
	text-align: left;
}
#contents table caption.cap {
	font-size: 0.786em;
	color: #666;
}
#contents table caption.bottom {
	caption-side: bottom;
	padding: 0.5em 0 0 0;
}
#contents table th,
#contents table td {
	padding: 20px 30px;
	font-weight: normal;
	vertical-align: top;
	border-bottom: solid 1px #ddd;
}
#contents table th {
	font-weight: normal;
	white-space: nowrap;
	text-align: center;
	/* background-color: #3F494B; */
	background-color: #24B1C7;
	color: #fff;
	width: 1%;
	white-space: nowrap;
}
#contents table td {
}
#contents table.flex th {
	width: auto;
}
#contents table.table-border.small-font {
	font-size: 0.857em;
	line-height: 1.4;
}
#contents table.table-border thead th,
#contents table.table-border thead td {
	width: auto;
	padding: 10px;
	background-color: #ebeef7;
	border: solid 1px #ddd;
	color: #a90109;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}
#contents table.table-border th,
#contents table.table-border td {
	width: auto;
	padding: 10px;
	border: solid 1px #ddd;
	vertical-align: middle;
}
#contents table.table-border th {
	white-space: nowrap;
}
#contents table.cont-margin {
	width: 100%;
	margin: 1em 0;
	line-height: 1.6;
}
#contents table.cont-margin th,
#contents table.cont-margin td {
	border-bottom: none;
	padding: 0.5em 0;
	color: #333;
}
#contents table.cont-margin th {
	width: 1px;
	white-space: nowrap;
}
/* ===========================================================

	externallink

=========================================================== */

#externallink {
	text-align: center;
	padding: 20px 0;
}
#externallink h1 {
	display: block;
	padding: 20px;
	margin: 0 0 20px 0;
	background-color: #a90109;
	color: #fff;
	font-size: 1.429em;
	font-weight: normal;
}
#externallink h2 {
	display: block;
	padding: 20px 0;
	margin: 0 0 20px 0;
	color: #333;
	font-size: 1.0em;
	font-weight: normal;
}
#externallink h2 strong {
	padding: 0;
	margin: 0;
	color: #c00;
	font-size: 1.429em;
	font-weight: normal;
}
#externallink p {
	display: block;
	padding: 0;
	margin: 0 0 20px 0;
}
#externallink p.btn {
	display: block;
	padding: 5px 0;
	margin: 0;
}
#externallink p.btn.close {
	display: block;
	padding: 20px 0 0 0;
	margin: 0;
}
#externallink p.btn a {
	display: inline-block;
	padding: 15px 40px;
	margin: 0;
	border: solid 1px #a90109;
	text-decoration: none;
	color: #a90109;
}
#externallink p.btn a:hover {
	background-color: #a90109;
	color: #fff;
}
#externallink p.btn a:before {
	display: inline-block;
	padding: 0;
	margin: 0 0.5em 0 0;
	content: "\f064";
	font-family: FontAwesome;
}
#externallink p.btn.close a {
	padding: 5px 10px;
	margin: 0;
	border: solid 1px #ddd;
	color: #333;
}
#externallink p.btn.close a:hover {
	background-color: #333;
	color: #fff;
}
#externallink p.btn.close a:before {
	content: "\f060";
}
/* ===========================================================

	footer

=========================================================== */

#bt-pagetop {
	display: block;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
}
#bt-pagetop a {
	display: block;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 70px;
	outline: none;
	background-color: rgba(19,19,39,1.00);
}
#bt-pagetop a:hover {
	background-color: rgba(19,19,39,0.60);
}
#bt-pagetop a:after {
	display: block;
	margin: auto auto 20px auto;
	padding: 0;
	width: 20px;
	height: 20px;
	content: "";
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
}
#bt-pagetop a span {
	display: none;
}
#footer {
	display: block;
	margin: 0;
	padding: 120px 0px;
	border-top: solid 4px #24B1C7;
	text-align: center;
	width: 100%;
	background-color: #3F494B;
	clear: both;
}
#footer .footer-inner{
	max-width: 1280px;
	margin: 0 auto;
}
#footer .add {
	display: block;
	margin: 0;
	width: 100%;
	font-size: 0.875em;
}
#footer .add h2 {
	display: block;
	margin: 0;
	padding-top: 50px;
}
#footer .add p {
	display: block;
	/* margin: 0.5em 0; */
	margin: 30px 0;
	padding: 0;
	line-height: 1.8;
	color: #fff;
}
#footer .add span{
	display: block;
}
#footer .footer-nav-menu li a{
	font-size: 1.2em;
	font-weight: bold;
}
#footer .footer-nav-menu li:hover a{
	color: #24B1C7;
}
#footer .footer-nav-menu-other{
	max-width: 1280px;
	border-bottom: 1px solid #888888;
	padding: 19px 0 45px;
	/* position: relative; */
}

#footer .footer-nav-menu-other li:hover a{
	color: #24B1C7;
}
#footer ul li a{
	color: #fff;
}
#footer ul {
	display: block;
	margin: 0;
	padding: 10px 0;
	clear: both;
	font-size: 0.87em;
}
#footer ul li {
	display: inline-block;
	margin: 5px 0;
	padding: 0 1em;
}

#copyright {
	display: block;
	margin: 0;
	font-size: 0.78em;
	font-family: 'Noto Sans JP';
	font-weight: 400;
	color: #fff;
}
@media screen and (max-width: 820px) {
	#footer {
		padding: 0;
		text-align: left;
	}
	#footer .footer-inner{
		padding-bottom: 50px;
	}
	#footer .footer-nav-menu li:first-child a{
		border: none;
	}
	#footer .footer-nav-menu li a{
		font-size: 1.2em;
		font-weight: bold;
		display: block;
		border-top: solid 1px rgba(255, 255, 255, 0.20);
		padding: 20px 0 20px 32px;
		position: relative;
	}
	#footer .footer-nav-menu li a:before{
		content: "";
		position: absolute;
		top: 50%;
		right: 35px;
		width: 6px;
		height: 6px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		transform: translateY(-50%) rotate(45deg);
	}
	#footer .footer-nav-menu li a:after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 23px;
		width: 25px;
		height: 25px;
		border: 1px solid #fff;
		border-radius: 20px;
	}
	#footer .footer-nav-menu-other{
		padding: 0;
	}
	#footer .footer-nav-menu-other li a{
		font-size: 1.2em;
		font-weight: 500;
		display: block;
		border-top: solid 1px rgba(255, 255, 255, 0.20);
		padding: 15px 0 15px 32px;
		position: relative;
	}
	#footer .footer-nav-menu-other li a:before{
		content: "";
		position: absolute;
		top: 50%;
		right: 30px;
		width: 6px;
		height: 6px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		transform: translateY(-50%) rotate(45deg);
	}
	
	
	#footer ul {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	#footer ul li {
		margin: 0;
		padding: 0;
	}
	#footer .footer-nav-menu-other li a{
		font-size: 14px;
	}
	#footer .add {
		text-align: center;
		padding: 0 32px;
	}
	#footer .add h2 {
		display: block;
		width: 100%;
		margin: 0;
		padding-top: 2em;
	}
	#footer .add h2 img{
		width: 100%;
		vertical-align: bottom;
	}
	#footer .add p {
		display: block;
		margin: 30px 0;
		padding: 0;
		line-height: 1.9;
		color: #fff;
		width: 100%;
	}
	#footer .add span{
		margin-top: 0.5em;
	}
	#copyright {
		text-align: center;
		font-size: 12px;
	}

}
/* ===========================================================

	footer

=========================================================== */
.footer {
	clear: both;
	overflow: hidden;
}

/* footer-navi
----------------------------------------------------------- */
.footer-navi {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	background-color: var(--red);
}
.footer-navi__inner{
	width: 1200px;
	margin: 0 auto;
}
.footer-navi__inner ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
}
.footer-navi ul li{
	position: relative;
	width: 200px;
}
.footer-navi ul li:after,
.footer-navi-support ul li:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 14px;
	margin-top: -7px;
	background-color: #dddddd69;
}
.footer-navi ul li:last-child:after,
.footer-navi-support ul li:last-child:after{
	display: none;
}
.footer-navi ul li a {
	padding: 20px;
	font-size: 14px;
}
.footer-navi ul li a:link, .footer-navi ul li a:visited {
	text-decoration: none;
	color: var(--white);
}
.footer-navi ul li a:hover {
	text-decoration: none;
	opacity: .7;
	transition: all .2s ease-in-out;
}

.footer-navi a:link, .footer-navi a:visited {
	text-decoration: none;
	color: var(--white);
}
.footer-navi a:hover {
	text-decoration: none;
	color: var(--white);
}
.footer-navi a.current {
	font-weight: bold;
}
@media (820px < width < 1216px ) {
	.footer-navi__inner{
		width: auto;
	}
	/* .footer-navi ul li{
		width: auto;
	} */
	.footer-navi ul li a{padding: 10px;}
}
@media screen and (max-width: 820px) {
	.footer-navi {
		display: block;
		padding: 0;
		text-align: left;
	}
	.footer-navi__inner {
		width: 100%;
		padding: 0;
		background: none;
	}
	.footer-navi ul {
		/* float: none;
		display: block; */
		display: flex;
		flex-direction: column;
	}
	.footer-navi ul li {
		/* width: auto; */
		width: 100%;
	}
	.footer-navi ul li a {
		display: block;
		height: 60px;
		border-top: solid 1px rgba(255, 255, 255, 0.20);
		position: relative;
		padding: 20px 0 20px 35px;
		font-size: 1.6rem;
	}
	.footer-navi ul li:first-child a {
		border: none;
	}

	.footer-navi li a:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 35px;
		width: 6px;
		height: 6px;
		border-top: 1px solid var(--white);
		border-right: 1px solid var(--white);
		transform: translateY(-50%) rotate(45deg);
	}
	.footer-navi li a:after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 23px;
		width: 25px;
		height: 25px;
		border: 1px solid var(--white);
		border-radius: 20px;
	}
	.footer-navi ul li:after,
	.footer-navi-support ul li:after{
		display: none;
	}

	.footer-navi li:first-child a {
		border-top: none
	}
	
}
/* footer-navi-support
----------------------------------------------------------- */
.footer-navi-support {
	width: 100%;
	background: var(--grey);
	text-align: center;
	padding: 30px 0;
}
.footer-navi-support__inner {
	margin: 0 auto;
}

.footer-navi-support ul {
	display: flex;
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
}
.footer-navi-support ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}
.footer-navi-support li a {
	font-size: 14px;
	padding: 0 35px;
}

.footer-navi-support li a:link, .footer-navi-support li a:visited {
	color: var(--white);
	text-decoration: none;
}
.footer-navi-support li a:hover {
	opacity: .7;
	transition: all .2s ease-in-out;
}
.footer-navi-support li a.current {
	/* color: #018ccf; */
	font-weight: bold;
}
@media screen and (max-width: 820px) {
	.footer-navi-support {
		padding: 0;
		text-align: left;
	}
	.footer-navi-support__inner {
		width: 100%;
		padding: 0;
		background: none;
	}
	.footer-navi-support ul {
		float: none;
		display: block;
	}
	.footer-navi-support ul li {
		display: block
	}
	.footer-navi-support li a,
	.footer-navi-support li:first-child a {
		border: none;
		display: block;
		padding: 0 30px 0 10px;
		line-height: 40px;
		height: 40px;
		border-top: solid 1px rgba(255, 255, 255, 0.20);
		position: relative;
		font-size: 1.4rem;
		font-weight: 400;
	}
	.footer-navi-support li:last-child a{
		border-bottom: solid 1px rgba(255, 255, 255, 0.20);
	}
	.footer-navi-support li a:before {
		content: "→";
		position: absolute;
		top: 0%;
		left: 35px;
		width: 10px;
		height: 10px;
		opacity: 0.8;
	}
	.footer-navi-support li a{
		
	}
	.footer-navi-support li a:link, .footer-navi-support li a:visited {
		color: #fff;
		background-color: var(--grey);
		padding-left: 60px;
	}
	.footer-navi-support li a:hover {
		color: #fff;
	}
	.footer-navi-support li a.current {
		color: #fff;
	}
}

/* 追加 */
.pc { display: block !important; }
.sp { display: none !important; }
@media screen and (max-width: 768px) {
	.pc {display: none !important;}
	.sp {display: block !important;}
}

body.en .global-navigation span{
	font-family: 'comfortaa';
}
body.en .footer-nav-menu li a{
	font-family: 'comfortaa';
}
.global-navigation ul.gn li a.global-navigation__primary span.current-link{
	color: #24B1C7;
	font-weight: 600;
} 
.global-navigation ul li a.current-link{
	color: #24B1C7;
	font-weight: 600;
} 
.global-header {
	position: fixed;
	padding: 5px 30px;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	transition : all 500ms;
	height: 66px;
	display: flex;
}
.header__inner {
	position: relative;
	width: 100%;
	max-width: 1856px;
	min-width: 900px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.global-header h1 {
	width: 340px;
	transition : all 500ms;
	margin-left: -10px;
}
@media screen and (max-width: 1200px) {
	.global-header h1 {
		width: 340px;
		margin-left: -25px;
	}
}

.global-header h1 a {
	vertical-align: bottom;
}
.global-navigation-container {
	display: flex;
	align-items: center;
}
.global-navigation {
}

.global-navigation ul {
	display: flex;
}

.global-navigation>ul.gn>li:first-child {
	padding-left: 30px;
}
@media screen and (min-width: 1369px) {
	.global-navigation>ul.gn>li:first-child {
		padding-left: 0.7em;
	}
}

.global-navigation>ul.gn>li {
	padding: 0 .7em;
	position: relative;
}

.global-navigation ul.gn>a {
	display: none;
}

.global-navigation ul.gn a:hover {
	text-decoration: none;
}

.global-navigation ul.gn li a.global-navigation__primary {
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
	text-decoration: none !important;
	color: #111;
	line-height: 50px;
}


.global-navigation ul.gn li a.global-navigation__primary span {
	position: relative;
	font-weight: 500;
	white-space: nowrap;
	transition: .3s;
}

.global-navigation__primary:hover span{
	color: #24B1C7;
}

.global-navigation ul.gn li:first-child a.global-navigation__primary:first-child::before {
	display: none;
}

.global-navigation ul.gn li a.global-navigation__primary:hover, 
.global-navigation ul.gn li a.js--over {
	opacity: 1;
	color: #474747;
}

.is-company .global-menu__navigation ul.gn li#global-menu__navigation__company a.global-menu__navigation__primary span,
.is-business .global-menu__navigation ul.gn li#global-menu__navigation__business a.global-menu__navigation__primary span,
.is-sustainability .global-menu__navigation ul.gn li#global-menu__navigation__sustainability a.global-menu__navigation__primary span,
.is-employ .global-menu__navigation ul.gn li#global-menu__navigation__employ a.global-menu__navigation__primary span,
.is-contact .global-menu__navigation ul.gn li#global-menu__navigation__contact a.global-menu__navigation__primary span{
	color: #24B1C7;
}

.is-company #footer ul.footer-nav-menu li a.footer-nav-company,
.is-business #footer ul.footer-nav-menu li a.footer-nav-business,
.is-sustainability #footer ul.footer-nav-menu li a.footer-nav-sustainability,
.is-employ #footer ul.footer-nav-menu li a.footer-nav-employ,
.is-contact #footer ul.footer-nav-menu li a.footer-nav-contact,
.is-privacy #footer ul.footer-nav-menu-other li a.footer-nav-privacy,
.is-advertising #footer ul.footer-nav-menu-other li a.footer-nav-advertising,
.is-basic #footer ul.footer-nav-menu-other li a.footer-nav-basic,
.is-customer #footer ul.footer-nav-menu-other li a.footer-nav-customer
{
	color: #24B1C7;
}

/* .global-navigation__secondary
----------------------------------------------------------- */

.global-navigation ul.gn .global-navigation__secondary {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 999900;
	width: 210px;
	transform: translateX(-50%);
	text-align: left;
}

.global-navigation ul.gn .global-navigation__secondary ul {
	margin: 0;
	background-color: #fff;
	flex-direction: column;
	border-top: 2px solid #24B1C7;
	padding: 10px;
}


.global-navigation ul.gn .global-navigation__secondary li {
	margin: 0;
	font-size: 1.5rem;
	transition: .5s;
	padding: 10px 5px;
}

.global-navigation ul.gn .global-navigation__secondary li:hover {
	background-color: #24B1C7;
}
.global-navigation ul.gn .global-navigation__secondary li:first-of-type {
	border-top: none;
}

.global-navigation ul.gn .global-navigation__secondary li a {
	display: block;
	padding: 5px 5px 5px 30px;
	color: #000;
	position: relative;
	transition: .5s;
	font-size: 0.9rem;
}
.global-navigation ul.gn .global-navigation__secondary li a:before {
	content: "";
	position: absolute;
	left: 5px;
	top: 50%;
	width: 16px;
	background-color: #24B1C7;
	height: 1px;
	transition: .5s;
}
.global-navigation ul.gn .global-navigation__secondary li:hover a:before {
	background-color: #fff;
}
.global-navigation ul.gn .global-navigation__secondary li:hover a {
	color: #fff !important;
	transition: .5s;
}


.global-navigation ul.gn .global-navigation__secondary li a:link, .global-navigation ul.gn .global-navigation__secondary li a:visited {
	color: #000;
	text-decoration: none;
}

.global-navigation ul.gn .global-navigation__secondary span {
	position: relative;
	font-weight: 500;
}

.global-navigation ul.gn .global-navigation__secondary li a.current {
	font-weight: bold;
}
.header__title{
	transition : all 500ms;
}
.header__title img{
	width: 100%;
	vertical-align: middle;
}

.global-sub-navigation__language a{
	color: #24B1C7;
	font-weight: 900;
	font-size: 12px;
	line-height: 60px;
	border: 1px solid #24B1C7;
	border-radius: 20px;
	padding: 5px 10px;
	transition: .5s;
}
.global-sub-navigation__language a:hover{
	color: #fff;
	border: 1px solid #24B1C7;
	background-color: #24B1C7;
	transition: .5s;
}

#main .title{
	background-image: url(../img/common/page-title.jpg);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 256px;
	background-repeat: no-repeat;
	background-size: cover;
}
#main .title h1{
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-align: center;
	position: relative;
	z-index: 99;
	padding: 10px 20px;
	background-color: #24B1C7;
}
@media screen and (max-width: 768px) {
	#main .title h1{
		font-size: 1.5rem;
	}
}

#main .title-en{
	font-family: 'Comfortaa';
}

#main .sustainability-img{
	background-image: url(../img/common/sustainability-title.jpg) !important; 
}

#main .others-img{
	background-image: url(../img/common/others-title.jpg) !important; 
}

#main .news-img{
	background-image: url(../img/common/news-title.jpg) !important; 
}
#main .propertie-img{
	background-image: url(../img/common/propertie-title.jpg) !important; 
}

#main .career-img{
	background-image: url(../img/common/career-title.jpg) !important; 
}


:root {
	--red: #e4111c;
	--grey: #666666;
	--lightGrey: #ddd;
	--deepGrey: #3F494B;
	--white: #fff;
	--beige: #F5F5F5;
	--black: #000;
	--orange: #F08820;
	--blue: #35B4C8;
}

/* GLPのCSS */

/* ===========================================================

	global-menu

=========================================================== */
.global-menu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* padding-right: 32px; */
}
.global-menu-wrap{
	display: flex; 
	flex-direction: column;
}
.global-menu-wrap__inner{
	display: flex; 
	flex-direction: row-reverse; 
	align-items: center; 
	height: 60px;
}
@media screen and (max-width: 1300px) {
    .global-menu {
        /* padding-right: 10px; */
    }
}
@media screen and (max-width: 1200px) {
	.global-menu {
        padding-right: 0;
        align-items: center;
        /* position: absolute;
        top: 0;
        right: 0; */
    }
}

/* ===========================================================

	global-menu__sub-navigation

=========================================================== */
.global-menu__company_name{
	margin-left: auto;
	display: none;
	margin-top: 10px;
}
.js-show{
	display: block;
}
.global-menu__company_name ul{
	display: flex;
}
.global-menu__company_name ul li{
	font-size: 14px;
	font-weight: 400;
	padding: 7px 15px;
}
.global-menu__company_name ul li:first-child{
	margin-right: 15px;
	border-right: 1px solid #ddd;
}

.global-menu__company_name ul li.mitsui-private{
	background-color: #F1F3F7;
	border-radius: 20px;
	position: relative;
	
}
.global-menu__company_name ul li.mitsui-private a{
	position: relative;
}
.global-menu__company_name ul li.mitsui-private:hover{
	filter: brightness(0.95);
}
.global-menu__company_name ul li:hover a{
	color: #000;
}
.global-menu__company_name ul li.mitsui-private a:after{
	content: "";
	display: inline-block;
	background: url(/assets/img/top/outlink.svg) no-repeat;
	background-size: contain;
	width: 10px;
	height: 10px;
	vertical-align: baseline;
	
}
.global-menu__sub-navigation {
	display: flex;
	align-items: center;
	/* padding-left: 32px; */
	position: relative;
}

@media screen and (max-width: 1300px) {
    .global-menu__sub-navigation {
        /* padding-left: 25px;
		margin-right: 50px; */
    }
    /* .global-menu__sub-navigation::before {
        left: 0;
    } */
}

	
@media screen and (max-width: 1200px) {
	.global-menu__sub-navigation {
		display: none;
	}
	.global-menu__navigation {
		display: none;
	}
}

/* global-sub-navigation__language
----------------------------------------------------------- */

.global-sub-navigation__language,
.global-sub-navigation__language li {
	margin: 0;
	padding: 0;
}

.global-sub-navigation__language a:hover {
	color: var(--white);
	text-decoration: none;
}


/* ===========================================================

	global-menu__navigation

=========================================================== */
.global-menu__navigation {
}
.global-menu__navigation ul.gn {
	display: flex;
	padding-right: 15px;
}
.global-menu__navigation > ul.gn > li {
    position: relative;
	padding: 0 13px;
}
@media screen and (max-width: 1300px) {
    .global-menu__navigation > ul.gn > li {
        padding: 0 10px;
    }
}
.global-menu__navigation > ul.gn > li:last-child {
}
.global-menu__navigation ul.gn > a {
    display: none;
}
.global-menu__navigation ul.gn a:hover {
    text-decoration: none;
}
.global-menu__navigation ul.gn li a.global-menu__navigation__primary {
    position: relative;
    display: block;
	font-size: 16px;
    color: #111;
    text-align: center;
    text-decoration: none !important;
    height: 60px;
    line-height: 60px;
    letter-spacing: 0.01em;
	
}
.global-menu__navigation ul.gn li a.global-menu__navigation__primary span {
	position: relative;
	/* padding: 8px 0; */
	transition: all 0.3s;
	font-weight: 700;
	white-space: nowrap;
}
.global-menu__navigation ul.gn li a.global-menu__navigation__primary span::before {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background-color: rgba(255,255,255,0.00);
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	transition: all 0.3s;
}
.global-menu__navigation ul.gn li a.global-menu__navigation__primary:hover,
.global-menu__navigation ul.gn li a.js-global-menu__navigation--over {
		opacity: 1;
		color: #111 !important;
}

.global-menu__navigation ul.gn li a.global-menu__navigation__primary:hover span,
.global-menu__navigation ul.gn li a.js-global-menu__navigation--over span {
	color: var(--blue);
}


.global-menu__navigation ul.gn .global-menu__navigation__secondary {
	/* display: none; */
	position: absolute;
	top: 90%;
	left: 50%;
	z-index: 999900;
	width: 210px;
	transform: translateX(-50%);
	text-align: left;
	background-color: var(--white);
	border-top: 2px solid #24B1C7;
	margin: 0;
	flex-direction: column;
	padding: 10px;
}
@media screen and (max-width: 1240px) {
	.global-menu__navigation > ul.gn > li:last-child .global-menu__navigation__secondary {
		left: inherit;
		right: 0;
		transform: translateX(0);
	}
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li {
    margin: 0;
    font-size: 13px;
    font-size: 1.3rem;
	transition: .5s;
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li:hover{
	background-color: var(--blue);
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li ul {
    display: none;
}

.global-menu__navigation ul.gn .global-menu__navigation__secondary li a{
	display: block;
	padding: 12px 10px 12px 30px;
	color: #000;
	position: relative;
	transition: .5s;
	font-size: 0.9rem;
	font-weight: 500;
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li a:before {
	content: "";
	position: absolute;
	left: 5px;
	top: 50%;
	width: 16px;
	background-color: #24B1C7;
	height: 1px;
	transition: .5s;
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li:hover a:before {
	background-color: var(--white);
}

.global-menu__navigation ul.gn .global-menu__navigation__secondary li a:hover {
	color: var(--white);
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li a.current {
    
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary li a.current::before {
}
.global-menu__navigation ul.gn .global-menu__navigation__secondary ol.second{
	list-style: none;
	padding-left: 1em;
}

/* ===========================================================

	slicknav_nav

=========================================================== */
.slicknav-sponsor {
	display: none;
}
.slicknav_menu {
	display: none;
}
.slicknav-sublink{
	display: none;
}

@media screen and (max-width: 1200px) {
	.global-menu__company_name{
		display: none;
	}
	.global-menu__navigation {
		top: 120px;
	}
	.slicknav_menu {
		font-size: 16px;
		zoom: 1;
		display: block;
		padding: 0;
		position: fixed;
		min-width: 100%;
		top: 0;
		z-index: 99999;
	}
	.slicknav_menu * {
		box-sizing: border-box;
	}
	.slicknav_menu * {
		box-sizing: border-box;
	}
	.slicknav_menu_inner {
		height: 100%;
		position: relative;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.slicknav_menu:before {
		content: " ";
		display: table;
	}
	.slicknav_menu:after {
		content: " ";
		display: table;
		clear: both;
	}
	/* ハンバーガーメニュー */
	.slicknav_btn {
		position: absolute;
		top: 16px;
		margin: auto;
		right: 45px;
		text-decoration: none;
		background-color: #fff;
		display: block;
		vertical-align: middle;
		width: 28px;
		height: 30px;
		cursor: pointer;
	}
	.slicknav_menu .slicknav_menutxt {
	}
	.slicknav_menu .slicknav_icon {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		padding: 7px 0 0;
	}
	.slicknav_menu .slicknav_no-text {
		margin: 0;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: var(--blue);
		display: block;
		width: 30px;
		height: 2px;
		margin: 0;
		transition: .3s ease-in-out;
	}
	.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
		margin-top: 8px;
	}
	/* close-btn */
	.slicknav_open {
	}
	.slicknav_menu .slicknav_open .slicknav_icon {
		padding: 10px 0 0;
	}
	.slicknav_menu .slicknav_open .slicknav_icon-bar {
	}
	.slicknav_menu .slicknav_open .slicknav_icon-bar:first-child {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		margin-top: 5px;
	}
	.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-of-type(2) {
		opacity: 0
	}
	.slicknav_menu .slicknav_open .slicknav_icon-bar:last-child {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-top: -12px;
	}
	/* menu */
	.slicknav_nav {
		clear: both;
		text-align: left;
		background-color: var(--blue);
		color: #fff;
		font-size: 16px;
		border-top: none;
		width: 100% !important;
		height: 100%;
		position: fixed;
		padding: 0 0 110px;
		top: 66px;
		left: 0;
		overflow: scroll !important;
		display: block;
		margin: 0;
	}
	.slicknav_nav li {
		display: block;
		margin: 0;
		padding: 0;
		clear: both;
	}
	.slicknav_nav a.global-menu__navigation__primary {
		display: block !important;
		padding: 15px !important;
		color: #fff;
		font-weight: bold;
		border-bottom: solid 1px rgba(255,255,255,0.5);
	}
	.slicknav_nav a.global-menu__navigation__primary br {
		display: none;
	}
	.slicknav_nav a.global-menu__navigation__primary:hover {
		text-decoration: none !important;
	}
	.slicknav_nav a.global-menu__navigation__primary span {
		color: #fff;
	}
	.slicknav_nav li ul {
		display: block;
		overflow: hidden;
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
		background-color: #fff;
	}
	.slicknav_nav ul li + li {
		border-top: solid 1px rgba(13,13,13,0.10);
	}

	.slicknav_nav ul li a:before {
		content: "";
		position: absolute;
		left: 15px;
		top: 50%;
		width: 16px;
		background-color: #24B1C7;
		height: 1px;
		transition: .5s;
	}
	.slicknav_nav ul li a {
		display: block;
		padding: 15px 20px 15px 40px;
		text-decoration: none;
		color: #000;
		line-height: 1.4;
		font-size: 14px !important;
		position: relative;
		font-weight: 500;
	}
	.slicknav_nav ul li a.current {
	
	}
	/* slicknav option */
	.slicknav_nav .slicknav_arrow {
	}
	.slicknav_nav .slicknav_item {
		position: relative;
		cursor: pointer;
	}
	.slicknav_nav .slicknav_item .slicknav_arrow i {
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translate(0, -52%);
		width: 45px;
		height: 45px;
		background: var(--deepGrey);
		border-left: 1px solid rgba(255,255,255,0.5);
	}
	.slicknav_nav .slicknav_item .slicknav_arrow i.icon-plus::before,
	.slicknav_nav .slicknav_item .slicknav_arrow i.icon-minus::before {
		content: "";
		display: inline-block;
		background-color: var(--white);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 2px;
		transform: translate(-50%,-50%);
	}
	.slicknav_nav .slicknav_item .slicknav_arrow i.icon-plus::after {
		content: "";
		display: inline-block;
		background-color: var(--white);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 15px;
		transform: translate(-50%,-50%);
	}
	.slicknav_nav .slicknav_item a {
		display: inline;
		padding: 0;
		margin: 0;
	}
	.slicknav_nav .slicknav_row {
		display: block;
	}
	.slicknav_nav .slicknav_row:hover {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background: none;
		color: inherit;
		text-decoration: none;
	}
	.slicknav_nav .slicknav-sublink{
		display: block;
		width: 100%;
		padding: 30px 0;
	}
	.slicknav_nav .slicknav-sublink p{
		width: 311px;
		margin: 0 auto 1.5rem auto;
		box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
	}
	.slicknav_nav .slicknav-sublink p:first-child{
		border-radius: 100px;
	}
	.slicknav_nav .slicknav-sublink p a{
		display: block;
	}
	.slicknav_nav .slicknav-sublink p a img{
		width: 100%;
		vertical-align: bottom;
	}
}

/* responsive-table
----------------------------------------------------------- */
.responsive-table {}
@media screen and (max-width: 1200px) {
	table.responsive-table tr th,
	table.responsive-table tr td {
		display: block;
		width: 100% !important;
		border-bottom: none;
	}
	table {
		border-bottom: solid 1px #a1bde2;
	}
}
 
/* js-scroll-table  js-scroll-graph  js-scroll-area
----------------------------------------------------------- */
.js-scroll-table {
	width: 920px;
	margin: 0 auto;
}
.js-scroll-graph {
	width: 920px;
	margin: 0 auto;
}

.js-scroll-table__caution {
	display: none;
	margin: 1.5em 0 0 !important;
	font-size: 12px;
	color: #999;
	padding: 0 0 0 45px !important;
	background-image: url(/assets/img/common/ic/ic_scroll_side.png);
	background-size: 42px auto;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
	.js-scroll-table__wrap {
		overflow: auto;
		position: relative;
	}
	.js-scroll-table {
		table-layout: inherit !important;
	}
	.js-scroll-table th, .js-scroll-table td {
		white-space: nowrap;
	}
	.js-scroll-table__caution {
		display: block;
	}
    .js-scroll-table.table-layout--fixed {
        table-layout: auto!important;
    }
    .scroll-table-responsive th, .scroll-table-responsive td {
    	white-space: normal;
    }
}

/* =====================================
事業内容・実績 / 採用情報　のnav
===================================== */

#contents .link-nav{
    display: block;
    margin: 0;
    padding: 0;
}
#contents .link-nav ul{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 0;
}
#contents .link-nav ul li{
    margin: 0 8px;
    width: 282px;
}
#contents .link-nav ul li a{
    text-align: center;
    display: block;
    padding: 13px 0;
    border: 1px solid #4B4B4B;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
}
#contents .link-nav ul li a:before{
    content: "";
    position: absolute;
    right: 11%;
    top: 50%;
    height: 13px;
    width: 1px;
    background-color: #24B1C7;
    transform: translateY(-50%);
}
#contents .link-nav ul li a:after{
    content: '';
    position: absolute;
    right: 10%;
    top: 50%;
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #24B1C7;
    border-right: solid 1px#24B1C7;
    transform: rotate(135deg);
}
@media screen and (max-width: 768px) {
    #contents .link-nav ul li{
        margin: 0;
    }
    #contents .link-nav ul li:first-of-type{
        border-left: 1px solid #000;
    }
    #contents .link-nav ul li a{
        padding: 5px 15px 5px 0;
        font-size: 0.8rem;
        border-radius: 0;
        border-left: none;
    }
    #contents .link-nav ul li a:before{
        display: none;
        /* content: "";
        position: absolute;
        right: 9%;
        top: 50%;
        height: 13px;
        width: 1px;
        background-color: #24B1C7;
        transform: translateY(-50%); */
    }
    #contents .link-nav ul li a:after{
        content: '';
        position: absolute;
        right: 5%;
        top: 35%;
        width: 6px;
        height: 6px;
        border: 0;
        border-top: solid 1px #24B1C7;
        border-right: solid 1px#24B1C7;
        transform: rotate(135deg);
    } 
	.business ul li{
		align-items: center;
	}  
	#contents .business ul li a{
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 15px;
	}
	#contents .datacenter ul{
		flex-wrap: wrap;
	}
	#contents .datacenter ul li{
		width: 50%;
		border-left: 1px solid #000;
		border-right: none;
	}
	#contents .datacenter ul li a{
		height: 40px;
		
	}

}
/* business-nav employ-nav fund-nav*/
.employ-nav{
	margin-top: auto;
	margin-bottom: auto;
}
.employ-nav ul,
.business-nav ul,
.fund-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contents .employ-nav ul{
	margin: 0;
}
#contents .employ-nav ul li{
	margin: 0;
	width: 346px;
}
#contents .employ-nav-en ul li{
	width: 100% !important;
}
#contents .business-nav ul li{
    margin: 0;
    width: 282px;
	margin-right: 6px;
}
#contents .fund-nav ul li{
	margin: 0;
    width: 410px;
}
#contents .fund-nav-en ul li{
    width: 810px;
}
#contents .employ-nav ul li:last-child,
#contents .business-nav ul li:last-child{
	margin-right: 0;
}

.employ-nav ul li a,
.business-nav ul li a,
.fund-nav ul li a{
    text-align: center;
    display: block;
    padding: 15px 0px;
    border: 1px solid #4B4B4B;
    border-radius: 50px;
    font-weight: 700;
    position: relative;
    font-family: 'Comfortaa';
    line-height: 24px;
}
.employ-nav ul li a:before,
.business-nav ul li a:before,
.fund-nav ul li a:before{
	content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 13px;
    background-color: #24B1C7;
    transform: translateY(-50%);
}
.employ-nav ul li a:before,
.business-nav ul li a:before{
    right: 6%;
}
.fund-nav ul li a:before{
    right: 4%;
}

.employ-nav ul li a:after,
.business-nav ul li a:after,
.fund-nav ul li a:after{
    content: '';
    position: absolute;
    top: 42%;
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #24B1C7;
    border-right: solid 1px#24B1C7;
    transform: rotate(45deg);
}
.employ-nav ul li a:after,
.business-nav ul li a:after{
	right: 6%;
}
.fund-nav ul li a:after{
    right: 4%;
}
@media screen and (max-width: 1200px) {
	#contents .employ-nav ul li,
    #contents .business-nav ul li,
	#contents .fund-nav ul li{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 768px) {
	.employ-nav ul,
    .business-nav ul,
	.fund-nav ul{
        justify-content: center;
    }
	#contents .employ-nav ul li,
    #contents .business-nav ul li,
	#contents .fund-nav ul li{
        margin-bottom: 15px;
    }
	.employ-nav ul li a,
    .business-nav ul li a,
	.fund-nav ul li a{
        padding: 5px 0;
		font-size: 0.8rem;
    }

}
